<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>List</title>
  <!--BOOTSTRAP LINK-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <!-- LINK VANILA DATATABLES CSS -->
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css" />
  <!-- LINK VANILA DATATABLES JS -->
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
</head>

<body>
  <div class="container">
    <h1 class="text-center display-2">Lista de Cuentas</h1>
    <a href="/cuentas/form" class="btn btn-primary m-2 fw-bold shadow-lg">Agregar Cuenta</a>
    <a href="/">Volver Atras</a>

    <div th:if="${cuentas.size()==0}" class="container alert alert-primary bg-opacity-25 alert-dismissible fade show"
      role="alert">
      No hay Clientes para mostrar

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria- label="Close"></button>
    </div>
    <table class="table table-striped table-inverse table-responsive text-center" id="datat">
      <thead class="text-center">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">№ Cuenta</th>
          <th class="text-center">Titular</th>
          <th class="text-center">Saldo</th>
          <th class="text-center">Fecha Apertura</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:if="${cuentas.size>0}" th:each=" cuenta: ${cuentas}">
          <td th:text="${cuenta.idcuenta}"></td>
          <td th:text="${cuenta.numerocuenta}"></td>
          <td th:text="${cuenta.titular}"></td>
          <td th:text="${cuenta.saldo}">$</td>
          <td th:text="${cuenta.fechaapertura}"></td>

          <td th:if="${cuenta.estado == true}">
            <a rol="button" th:onclick="|changeStatus('${cuenta.idcuenta}')|"
              class="btn btn-success rounded shadow-md fw-bold p-2 text-light">Abierta</a>
          </td>
          <td th:if="${cuenta.estado != true}">
            <a rol="button" th:onclick="|changeStatus('${cuenta.idcuenta}')|"
              class="btn btn-danger rounded shadow-md fw-bold p-2 text-light">Cerrada</a>
          </td>
          <td>
            <a rol="button" class="btn btn-info text-light" th:href="@{/cuentas/edit/} + ${cuenta.idcuenta}">Editar</a>
            <a rol="button" th:onclick="|drop('${cuenta.idcuenta}')|" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
  </script>
  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous">
  </script>
  <!-- CODE DATATABLES -->
  <script>
    var datat = document.querySelector('#datat');
    var dataTable = new DataTable('#datat', {
      perPage: 20,
      labels: {
        placeholder: 'Busca por un campo...',
        perPage: '{select} registros por página',
        noRows: 'No se encontraron registros',
        info: 'Mostrando {start} a {end} de {rows} registros',
      },
    });
  </script>
  <!-- CDN SWEET ALERT -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="sweetalert2.all.min.js"></script>

  <!-- JS -->
  <script th:src="@{/assets/js/drop.js}"></script>
</body>

</html>